body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 0 auto;
}

.allUsers {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.element {
  padding: .5em;
  margin: .1em;
}

.hide {
  display: none;
}

input {
  padding: .5em;
  outline: none;
  margin: .25em;
}

button {
  background-color: #00B7FF;
  border: 1px solid transparent;
  width: 5em;
  border-radius: 2px;
  margin: .5em auto;
  color: white;
  outline: none;
}